<main role="main">
  <app-hero></app-hero>

  <section class="sec-boxes" role="section">
    <app-article></app-article>
    <app-article></app-article>
    <app-article></app-article>
    <app-article></app-article>
  </section>
  <section class="sec-events" role="section">
    <hr />
    <h1>Upcomming events</h1>
    <app-event></app-event>
    <app-event></app-event>
    <app-event></app-event>
    <app-event></app-event>
  </section>
  <section class="sec-projects" role="section">
    <hr />
    <h1>Previous Projects</h1>
    <app-project></app-project>
    <app-project></app-project>
    <app-project></app-project>
  </section>
  <section class="sec-standards" role="section">
    <hr />
    <h1>Our Standards</h1>
    <app-project></app-project>
    <app-project></app-project>
  </section>
  <section class="sec-partners" role="section">
    <hr />
    <h1>Our Partners</h1>
    <app-partners></app-partners>
  </section>
</main>
<app-footer></app-footer>
